Here is a version change log for the ToDoNow app:

Version 1.0:
Release date: 2024.10.1

Task management features:
1. You can add a new task to the task list through the input box.
2. Tasks are displayed in a list with a "Delete" button next to each task.
3. Users can delete tasks by clicking the "Delete" button.

Form functions:
1. The input box allows the user to enter a task description.
2. After a task is added, the input box is automatically cleared.

Task list:
1. The dynamically generated task list displays all tasks added by the user.
2. The task items are displayed in a list and can be deleted.

List:
1. Uses a simple user interface design, including white symmetrical layout, rounded corner symmetry, and visual separation of task items.
2. Provides the hover effect of buttons to improve user interaction experience.


Version 1.1:
Release date : 2024.10.2

Add progress bar Settings.
scrollbar ui improved.
Added backup to file function.